# # Toggle Dark Mode (Custom Color)
toggle_custom_color <C-r>
#
# # Toggle the visual status bar
toggle_statusbar    <C-b>
#
# # Open the "Command Palette"
# command             :
#
# # Quit
# quit                q
# # Map 'q' to close only the CURRENT window
close_window q

# (Optional) Map 'Shift+q' (Q) to actually quit the whole app
quit Q
